SECRET_KEY=django-insecure-dev-key-change-this-in-production-abc123xyz
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173,
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7
SENDGRID_API_KEY=bfae661d-feac-41fc-832f-e30c39e9f129
DEFAULT_FROM_EMAIL=contact@spineclinic.in
DEFAULT_FROM_NAME=Hospital Management System
CLOUDINARY_CLOUD_NAME=dmnjv3bkr
CLOUDINARY_API_KEY=494177132875738
CLOUDINARY_API_SECRET=Yv9XJWpiXf4S19gT08vn1ogKqZA
DROPBOX_APP_KEY=gwc7wn4oxn1f3nh
DROPBOX_APP_SECRET=g56rvpxzz38wmm7
DROPBOX_REFRESH_TOKEN=glMA-6Vo9owAAAAAAAAAAS_eLyjppUjEm2p1F3q2pcZZHJKmCBY7DLRafsngNT0X
WHATSAPP_ENQUIRY_NUMBER=+91 97633 31118
